# Git 및 IDE
.git
.gitignore
.vscode
.idea

# Node.js
**/node_modules
**/dist
npm-debug.log

# Python
**/__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# 로컬 개발용 데이터 및 보안
kis_devlp.yaml
trades.db
ai_engine.log
# telegram_trader.py # 필요할 수 있으므로 주석 처리
# examples_user/    # 매매 엔진의 코어 의존성 파일들이 있으므로 제외하면 안 됨
# docs/
