fastapi
uvicorn
pytz
pyyaml
requests
pandas
websockets
python-telegram-bot==22.5
pycryptodome
pydantic
google-genai
psycopg2-binary
google-api-python-client
google-auth-httplib2
google-auth
googleapis-common-protos
proto-plus
grpcio
idna
certifi
urllib3
uritemplate
h11
httpcore
httplib2
annotated-types
typing-extensions
exceptiongroup
sniffio
click
tqdm
charset-normalizer
pycparser
cffi
pyasn1
pyasn1-modules
rsa
cachetools
six
numpy
python-dateutil
tzdata
pydantic-core
pyparsing
google-ai-generativelanguage
google-api-core
google-cloud-core
google-cloud-storage
google-resumable-media
future
altgraph
macholib
